---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const monthlyReviewCollection = await getCollection("monthly-review");

function orderByDate() {
  return monthlyReviewCollection.sort(
    (a, b) =>
      new Date(b.data.publishedDate).valueOf() -
      new Date(a.data.publishedDate).valueOf(),
  );
}
---

<Main showLanguageSwitcher={false} title="Monthly review">
  <h2>Monthly Reviews</h2>
  <p>
    I wanted to have a place to reflect on the month that has passed. I don't
    about you, but I find that each month goes so fast and it's sometimes hard
    to remember the details of what has actually happened.
  </p>
  <p>
    I want to take the time each month to summaries the cool things I've seen,
    projects that I've worked on and anything else that has happened in the
    month.
  </p>
  <p>
    It's also going to be a good way for me to remind myself of the things I set
    out to do at the start of the month, to see if I've achieived them or to see
    if my priorities have changed. Sometimes life gets busy and that's ok.
  </p>
  <p>I want to have something to look back on in the years to come.</p>

  <div>
    {
      orderByDate()
        .filter((monthlyArticle) => !monthlyArticle.data.draft)
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/monthly-review/" + article.slug}>
                  {article.data.title}
                </a>
              </li>
            );
          }
        })
    }
  </div>
</Main>
