---
import { navigate } from "astro:transitions/client";
import Article from "../../layouts/article.astro";

export const people = [
  "Charlemagne",
  "Louis X",
  "Jeanne d’Arc",
  "Clovis",
  "Henri IV",
  "Napoléon Bonaparte",
  "Louis-Napoléon Bonaparte (Napoléon III)",
  "Molière",
  "Rousseau",
  "Voltaire",
  "Diderot",
  "Louis XIII",
  "Louis XIV",
  "Louis XV",
  "Louis XVI",
  "Marie Antoinette",
  "Maximilien Robespierre",
  "Victor Hugo",
  "Jules Ferry",
  "Charles de Gaulle",
  "Simone Veil",
  "Marie Curie",
  "Léon Gambetta",
  "Josephine Baker",
  "Emile Zola",
  "Alexandre Dumas",
  "Jean Moulin",
  "André Malraux",
  "Jean Jaurès",
  "Marcel Proust",
  "Simone de Beauvoir",
];

export const events = [
  "la guerre des 100 ans",
  "l’édit de Nantes",
  "Ancien régime",
  "Règne de Louis XIV",
  "Déclaration des Droits de l’Homme et du Citoyen",
  "empire colonial",
  "Les philosophes des Lumières",
  "La Révolution française",
  "1er République",
  "2ème République",
  "3ème République",
  "4ème République",
  "5ème République",
  "La Première Guerre mondiale",
  "bataille de Verdun",
  "La Seconde Guerre mondiale",
  "Le régime de Vichy",
  "Décolonisation française",
  "Mai 68",
  "Traité de Rome",
  "Loi Veil",
  "Dreyfus affair",
];

export const fastResponses = [
  "grotte de Lascaux",
  "La liberté",
  "L’égalité",
  "La fraternité",
  "Laïcité",
  "Droits et des devoirs",
  "Démocratie",
  "Les principales institutions de l’État",
  "3 types de collectivités",
  "La commune",
  "Le département",
  "La région",
  "L’outre-mer",
  "Symboles de la France",
  "Fleuves",
  "Chaînes de montagnes",
  "Marianne",
  "la marseillaise",
  "1er mai",
  "8 mai",
  "11 novembre",
  "Pays frontaliers",
  "Plats typiques français",
  "Grand événement sportif français",
  "Président actuel et précédent en ordre",
  "Quelques ministres actuels",
  "Pouvoir exécutif",
  "Pouvoir législatif",
  "Pouvoir judiciaire",
  "Parlement",
  "L’assemblée nationale",
  "Sénat",
  "Cohabitation",
];

export const tv = [
  "Koh Lanta",
  "Dix pour cent",
  "Au service de la France",
  "Les Guignols de l'info",
  "Des chiffres et des lettres",
  "Motus",
  "Drag Race France",
];

export const influencers = [
  "Hugo Decrypte",
  "Squeezie",
  "Cyprien",
  "Rémi Gaillard",
  "McFly et Carlito",
];

export const music = [
  "Aya nakamura",
  "Daft Punk",
  "Edith Piaf",
  "Johnny Hallyday",
  "Louise Attaque",
  "Jean Jacques Goldman",
  "Philippe Katerine",
  "Céline Dion (Candian)",
  "Stromae (Belgian)",
  "Angèle (Belgian)",
  "Charles Trenet",
  "Joe Dassin",
  "Juliette Armanet",
  "Serge Gainsbourg",
  "Dalida",
  "Véronique Sanson",
  "Daniel Balavoine",
];

export const books = [
  "Arsène Lupin",
  "Astérix et Obélix",
  "Le Petit Prince",
  "Les Trois Mousquetaires",
  "Les Misérables",
  "De la Terre à la Lune",
  "L'étranger",
];

export const sports = [
  "Kylian Mbappé",
  "Zinedine Zidane",
  "Tour de France",
  "PSG vs OM (Le Classique)",
  "Les Bleus",
  "Les XV de France",
];

export const movies = [
  "Omar Sy",
  "Louis de Funès",
  "Bienvenue chez les Ch'tis",
  "Intouchables",
  "OSS 117",
  "Camille Cottin",
  "Jonathan Cohen",
  "Festival de Cannes",
  "Le Fabuleux Destin d'Amélie Poulain",
  "La Haine",
  "Léon",
  "La Cité de la peur",
  "Le Dîner de cons",
  "Brigitte Bardot",
  "Le huitième jour",
  "Bienvenue à Marly-Gomont",
  "François Truffaut",
  "Georges Méliès",
];

export const frontmatter = {
  title: "French history",
  languages: ["en"],
  language: "en",
  intro: "Preparing for the French nationality interview",
  publishedDate: new Date("2024-07-16").toISOString(),
};
---

<Article frontmatter={frontmatter}>
  <section>
    <h3>French nationality preparation</h3>
    <p>
      Are you applying for French nationality and strugle with deciding where to
      start with learning French history? Or maybe you're just curious about
      some of the key people and events? Then maybe this can help you!
    </p>
    <p>
      I'm in the process of applying for French nationality, which is honestly
      just a lot of waiting. During this time I should be brushing up on French
      history rather than leaving it until the last minute. However, I often
      struggle with where to <em>start</em>, I know there are lots of things
      that I
      <em>could</em> be reading up on but I'm not able to narrow it down. In interviews
      I often freeze so it's important that I take the time to prepare, so I don't
      doubt what I know.
    </p>
    <p>
      I created this to remove the decision making so that I can focus on
      reading, revising and thinking of responses to questions instead of
      wondering what to focus on. Each time you click the button a random
      person, event and fast response will be generated.
    </p>
    <p>
      I've set myself some initial guidelines but feel free to use it however
      you want:
    </p>
    <ul>
      <li>
        after generating the three items, I should write down what I already
        know (I'm tracking each combination on Notion)
      </li>
      <li>
        the first time the person or event comes up, I can research in English
      </li>
      <li>
        the second time the person or event comes up, I should read at least
        something in French
      </li>
      <li>
        If I made a mistake on what I thought I knew, that's ok, I can correct
        it and then continue
      </li>
      <li>
        whenever possible, I should try and discuss the topic because this
        allows me to see more easily if I'm missing any linking events or
        something isn't as clear as it should be
      </li>
      <li>
        if I only look into one of the items, that's ok. This isn't a
        punsishment and some days I'm going to have less time or less energy.
        The idea is to do a little each day which will make a big difference
        over time
      </li>
    </ul>
    <p>
      The data here is based on the <em>livret du citoyen</em> and interview questions
      that I have seen. This will not cover everything, but it's a place to start.
      I will add more people, events and fast responses if I come across any that
      are missing.
    </p>
    <p>
      After watching the opening ceremony of the Olympics, I realised that I
      missed some of the references throughout so I've also added a pop culture
      seciton. I already consume quite a lot of French media but I'm not good
      with remembering names and I'm sure I miss things outside of my bubble. I
      asked on a Facebook group for some French pop culture references and have
      added some of my own too.
    </p>

    <p>
      You can find the list of people, events, fast responses and pop culture on
      my <a
        href="https://github.com/abisummers/abisummers.github.io/blob/source/src/pages/articles/french-history.astro"
        >github</a
      >
    </p>

    <p>
      It's important to note that there will always be personal questions such
      as why you want to become French and your life in France so this won't
      prepare you for everything.
    </p>
    <p>If you're applying for French nationality, good luck!</p>
  </section>
  <button class="cta" type="button" id="button-generate">generate new</button>
  <section>
    <h3>
      person: <output id="output-people">
        {people[Math.floor(Math.random() * people.length)]}
      </output>
    </h3>
    <p>People who are important in French history. Things to consider:</p>
    <ul>
      <li>why are they important?</li>
      <li>what time period are they from?</li>
      <li>what are they most known for?</li>
    </ul>

    <hr />
  </section>
  <section>
    <h3>
      event: <output id="output-events">
        {events[Math.floor(Math.random() * events.length)]}
      </output>
    </h3>
    <p>Events to know in details:</p>
    <ul>
      <li>what year(s) did the event occur in?</li>
      <li>what triggered the event?</li>
      <li>what known people were involved in the event?</li>
    </ul>
    <hr />
  </section>
  <section>
    <h3>
      fast response: <output id="output-fast-responses">
        {fastResponses[Math.floor(Math.random() * fastResponses.length)]}
      </output>
    </h3>
    <p>
      Questions/themes that require simplier answers, often a definition or
      knowing the stats.
    </p>
    <p>Things to consider:</p>
    <ul>
      <li>how does this tie into other important events?</li>
    </ul>
    <hr />
  </section>
  <section>
    <h3>All things pop culture</h3>
    <p>
      There's so much to say about French pop culture, so here's <i>some</i> (and
      far from all) people/things that I think are important to know for French pop
      culture. Some of these things are more personal to me rather than true pop
      culture.
    </p>
    <p>
      I'm using this list as a 'I should know why they're known' rather than
      lots of details about their life (in contrast to the person category).
    </p>
    <p>
      Some of the people mentioned are not french but are still wellknown -
      whenever I notice this, I will specify that they are not French (because
      that's important to know for the interview)
    </p>
    <p>
      I feel like I should bring out the French Trivial Pursuit to add to this
      list. If there's anyone/anything you think I should add to these lists,
      please reach out via
      <a href="https://www.instagram.com/abisummers/">@abisummers</a>!
    </p>
    <h4>
      Music: <output id="output-music">
        {music[Math.floor(Math.random() * music.length)]}
      </output>
    </h4>
    <p>
      I have started a playlist with some French hits, you can listen to it <a
        href="https://music.apple.com/fr/playlist/french-hits/pl.u-11zBX41t2zWLB3?l=en-GB"
        >here</a
      > on Apple Music.
    </p>
    <h4>
      Movie: <output id="output-movie">
        {movies[Math.floor(Math.random() * movies.length)]}
      </output>
    </h4>
    <h4>
      Book: <output id="output-books">
        {books[Math.floor(Math.random() * books.length)]}
      </output>
    </h4>

    <h4>
      tv: <output id="output-tv">
        {tv[Math.floor(Math.random() * tv.length)]}
      </output>
    </h4>
    <h4>
      sports: <output id="output-sports">
        {sports[Math.floor(Math.random() * sports.length)]}
      </output>
    </h4>
    <h4>
      influencer: <output id="output-influencers">
        {influencers[Math.floor(Math.random() * influencers.length)]}
      </output>
    </h4>
  </section>

  <hr />
  <p>
    If you're new here, hi, I'm Abi. I've been living in France since 2016 and
    have recently started a blog to talk all things Paris and travel.
  </p>
  <p>
    You can read more articles <a href="https://abisummers.com/articles/"
      >here</a
    >.
  </p>
  <p>
    I'd love to know if you use this! Or if you have any feedback on how to make
    this more useful, or see any important people or events that are missing,
    you can get in contact via Instagram at <strong
      ><a href="https://www.instagram.com/abisummers/">@abisummers</a></strong
    >
  </p>

  <script
    define:vars={{
      people,
      events,
      fastResponses,
      movies,
      tv,
      music,
      sports,
      books,
      influencers,
    }}
  >
  const outputPeople = document.getElementById("output-people");
  const outputEvents = document.getElementById("output-events");
  const outputFastResponses = document.getElementById(
    "output-fast-responses",
  );
  const outputMusic = document.getElementById("output-music");
  const outputMovie = document.getElementById("output-movie");
  const outputTV = document.getElementById("output-tv");
  const outputSports = document.getElementById("output-sports");
  const outputBooks = document.getElementById("output-books");
  const outputInfluencers = document.getElementById("output-influencers");
  document.getElementById("button-generate").addEventListener("click", () => {
    outputPeople.innerText =
      people[Math.floor(Math.random() * people.length)];
    outputEvents.innerText =
      events[Math.floor(Math.random() * events.length)];
    outputFastResponses.innerText =
      fastResponses[Math.floor(Math.random() * fastResponses.length)];
    outputMovie.innerText = movies[Math.floor(Math.random() * movies.length)];
    outputMusic.innerText = music[Math.floor(Math.random() * music.length)];

    outputTV.innerText = tv[Math.floor(Math.random() * tv.length)];
    outputSports.innerText =
      sports[Math.floor(Math.random() * sports.length)];
    outputBooks.innerText = books[Math.floor(Math.random() * books.length)];
    outputInfluencers.innerText =
      influencers[Math.floor(Math.random() * influencers.length)];
  });
  </script>
</Article>
