---
import Main from "../../layouts/main.astro";

const articles: Array<{
  id: number;
  title: string;
  intro: string;
  link?: string;
}> = [
  {
    id: 1,
    title: "À propos de moi",
    intro:
      "Je suis guide touristique et développeur backend basé à Paris. Je suis passionné par l'apprentissage et le partage de connaissances en organisant des visites et des ateliers.",
    link: "/about",
  },
];
---

<Main>
  <h1 class="font-riot">Abi Summers</h1>

  <section class="large" id="intro">
    <ul class="no-bullets">
      <li>guide touristique</li>
      <li>ingénieur logiciels</li>
      <li>mentor</li>
    </ul>
  </section>
  {
    articles.map((article) => (
      <article>
        <h2>{article.title}</h2>
        <p>{article.intro}</p>
        {article.link && (
          <a class="cta" href={"/fr/articles" + article.link}>
            lisez plus
          </a>
        )}
      </article>
    ))
  }
</Main>
