---
import Main from "../layouts/article.astro";
---

<Main>
  <style>
    .vertical-center {
      height: calc(100vh - 1em);
      display: grid;
      justify-content: center;
      align-items: center;
    }
  </style>
  <div class="vertical-center">
    <p>
      Sorry, this page could not be found. Please search on the <a href="/"
        >home page</a
      >. If you have any questions or if the problem persists, you can get in
      touch via email at
      <strong
        ><a href="mailto:contact@abisummers.com">contact@abisummers.com</a
        ></strong
      >
    </p>
  </div>
</Main>
