---
import Main from "../layouts/main.astro";

const about = (await Astro.glob("./articles/about.md"))[0];

const articles: Array<{
  title: string;
  intro: string;
  link?: string;
}> = [
  {
    title: about.frontmatter.title,
    intro: about.frontmatter.intro,
    link: '/about',
  },
  {
    title: "The Alphabet of Île-de-France",
    intro:
      "A project to discover a different place in Île-de-France, one letter at a time.",
    link: "/alphabet-ile-de-france",
  },
  {
    title: "Articles",
    intro: "Tips and tricks on living and travelling in Île-de-France.",
    link: "/",
  },
];
---

<Main>
  <h1 class="logo font-riot">Abi Summers</h1>

  <section class="large" id="intro">
    <ul class="no-bullets">
      <li>tour guide</li>
      <li>software engineer</li>
      <li>mentor</li>
      <li>slow traveller</li>
    </ul>
  </section>
  {
    articles.map((article) => (
      <article>
        <h2>{article.title}</h2>
        <p>{article.intro}</p>
        {article.link && (
          <a class="cta" href={"/articles" + article.link}>
            read more
          </a>
        )}
      </article>
    ))
  }
</Main>
