---
import { getRelativeLocaleUrl } from "astro:i18n";

const currentPathWithoutLocale = Astro.url.pathname.replace(
  new RegExp("/" + Astro.currentLocale + "(/|$)"),
  "$1",
);

const {
  title: titleFromProps,
  description,
  ogImage,
  showLanguageSwitcher = true,
  frontmatter,
} = Astro.props;

const title = frontmatter?.title || titleFromProps;

---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#f5c636" />
    <title>{title ? title + " | Abi Summers" : "Abi Summers"}</title>
    {description && <meta name="description" content={description} />}
    {ogImage && <meta property="og:image" content={ogImage} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Protest+Riot&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <style is:global>
      :root {
        --text: black;
        --background: #f6f3e9;
        --contrast: #f5c636;
      }

      body {
        margin: 0;
        font-family: "Inconsolata", monospace;
        background-color: var(--background);
        display: flex;
        min-height: 100vh;
      }

      nav {
        width: 20vw;
        flex-shrink: none;
        background-color: var(--contrast);
      }

      main {
        padding: 0.5em;
        padding-left: 5vw;
        width: 75vw;
      }

      .content {
        max-width: 80ch;
      }

      .font-riot {
        font-family: "Protest Riot", sans-serif;
      }

      .text-center {
        text-align: center;
      }

      h1 a {
        text-decoration: none;
      }

      h1 {
        font-size: 2em;
      }

      h1.aside {
        font-size: 2em;
        margin: 0.25em;
      }

      h1.not-aside {
        display: none;
      }

      @media screen and (max-width: 800px) {
        h1.aside {
          font-size: 1.25em;
        }
      }

      @media screen and (max-width: 500px) {
        h1.aside {
          display: none;
        }

        h1.not-aside {
          display: initial;
        }

        nav {
          width: 10vw;
        }

        .languages {
          margin: 0.25em;
        }
      }

      .large {
        font-size: 2em;
      }

      footer {
        margin-top: 2em;
      }

      article {
        max-width: 60ch;
      }

      .languages {
        list-style-type: none;
        padding: 0;
        margin: 1em;
      }

      nav a {
        text-decoration: none;
      }

      .no-bullets {
        list-style-type: none;
        padding: 0;
      }

      a {
        color: var(--text);
      }

      .cta {
        text-align: center;
        text-decoration: none;
        background-color: var(--contrast);
        padding: 0.5em 1em;
      }

      .cta:after {
        content: " →";
      }
    </style>
  </head>

  <body>
    <nav>
      <h1 class="font-riot text-center aside">
        <a href={getRelativeLocaleUrl(Astro.currentLocale!, "/")}>Abi Summers</a
        >
      </h1>

      {
        showLanguageSwitcher && (
          <ul class="languages">
            <li>
              <a href={getRelativeLocaleUrl("en", currentPathWithoutLocale)}>
                <span role="img" aria-label="">
                  {" "}
                  🇬🇧{" "}
                </span>{" "}
                en
              </a>
            </li>
            <li>
              <a href={getRelativeLocaleUrl("fr", currentPathWithoutLocale)}>
                <span role="img" aria-label="">
                  {" "}
                  🇫🇷{" "}
                </span>{" "}
                fr
              </a>
            </li>
          </ul>
        )
      }
    </nav>
    <main>
      <h1 class="font-riot not-aside">
        <a href={getRelativeLocaleUrl(Astro.currentLocale!, "/")}>
          Abi Summers
        </a>
      </h1>
      <div class="content">
        <slot />
      </div>
    </main>
  </body>
</html>
