---
import { getRelativeLocaleUrl } from "astro:i18n";

const currentPathWithoutLocale = Astro.url.pathname.replace(
  new RegExp("/" + Astro.currentLocale + "(/|$)"),
  "$1",
);
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#f5c636" />
    <title>Abi Summers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Protest+Riot&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <style is:global>
      :root {
        --text: black;
        --background: #f6f3e9;
        --contrast: #f5c636;
      }

      body {
        margin: 0;
        font-family: "Inconsolata", monospace;
        background-color: var(--background);
        display: flex;
        min-height: 100vh;
      }

      nav {
        width: 20vw;
        flex-shrink: 0;
        background-color: var(--contrast);
      }

      main {
        padding: 0.5em;
        padding-left: 5vw;
        width: 75vw;
      }

      .font-riot {
        font-family: "Protest Riot", sans-serif;
      }

      .text-center {
        text-align: center;
      }

      h1.logo {
        font-size: 7em;
      }

      .large {
        font-size: 2em;
      }

      footer {
        margin-top: 2em;
      }

      article {
        max-width: 60ch;
      }

      .languages {
        list-style-type: none;
        padding: 0;
        margin: 1em;
      }

      nav a {
        text-decoration: none;
      }

      @media screen and (max-width: 650px) {
        h1.logo {
          font-size: 5em;
        }

        .large {
          font-size: 1.5em;
        }
      }

      @media screen and (max-width: 450px) {
        h1.logo {
          font-size: 3em;
        }

        .large {
          font-size: 1.2em;
        }

        .languages {
          margin: 0.25em;
        }

        nav {
          width: 10vw;
        }
      }

      .no-bullets {
        list-style-type: none;
        padding: 0;
      }

      a {
        color: var(--text);
      }

      .cta {
        text-align: center;
        text-decoration: none;
        background-color: var(--contrast);
        padding: 0.5em 1em;
      }

      .cta:after {
        content: " →";
      }
    </style>
  </head>

  <body>
    <nav>
      <ul class="languages">
        <li>
          <a href={getRelativeLocaleUrl("en", currentPathWithoutLocale)}>
            <span role="img" aria-label=""> 🇬🇧 </span>{" "}
            en
          </a>
        </li>
        <li>
          <a href={getRelativeLocaleUrl("fr", currentPathWithoutLocale)}>
            <span role="img" aria-label=""> 🇫🇷 </span>{" "}
            fr
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <slot />

      <footer>
        <ul class="no-bullets">
          <li>
            <a href="mailto:contact@abisummers.com">contact@abisummers.com</a>
          </li>
          <li>
            Instagram: <a href="https://www.instagram.com/abisummers">@abisummers</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/abisummers/">LinkedIn</a>
          </li>
          <li>SIREN: 843306648</li>
        </ul>
      </footer>
    </main>
  </body>
</html>
